<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue CRUD Course</title>

    <!-- Local CSS file for styling the application -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Vue.js 3 development version -->
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="vue-app">
        <header>
            <div class="title">
                <h1>{{ navTitle }}</h1>
            </div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>

        <main>
            <button @click="changeDisplay">Display Users!</button>

            <h1>List of Users</h1>

            <div v-if="!displayUsers">
                <h4>Users are not being displayed.</h4>
            </div>
            <div v-else>
                <ul>
                    <li v-for="(user, id) in users" :key="id">{{ id + 1 }}: {{ user }}</li>
                </ul>                  
            </div>              

        </main>

        <footer>
            <h4>{{ footerMessage }}</h4>
        </footer>        
    </div>

<!-- Vue Code Start-->
<script type="text/javascript">
const app = Vue.createApp({
    data() {
        return {
            navTitle: "Vue3 Course",
            footerMessage: "testdriven.io",
            users: [
                'user1',
                'employee17',
                'Bob',
                'Sara',
                'Garfield'
            ],
            displayUsers: false,
        }
    },
    methods: {
        changeDisplay() {
            this.displayUsers = !this.displayUsers
        }
    }
})
const mountedApp = app.mount('#vue-app')
</script>
<!-- Vue Code Ends-->

</body>
</html>